# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Java
backend/target/
*.class

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE / OS
.vscode/
.idea/
*.log
*.tmp
Thumbs.db
.DS_Store

# Env
.env
.env.*
!.env.example

build_log.txt
